<header>
 <nav>
      <div class="row">
       <img src="resources/img/logo.jpg" alt="SEARCH Logo" class="logo">
         <img src="resources/img/logo.jpg" alt="logo" class="logo-black">
         <ul class="main-nav js--main-nav">
              <li><a href="#features"> Our Events</a></li>
              <li><a href="#works"> My Profile </a></li>
              <li><a href="#cities"> Social </a></li>
              <li><a href="#plans"> Our Training </a></li>
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
      </div>
  </nav>
  <div class="hero-text-box">
      <h1>SEARCH | Homeless Services</h1>
      <h1>Help Your Community.</h1>
      <br>
      <a class="btn btn-full " href="/login/google"> Login </a>
      <a class="btn btn-full " href="/login/google"> Sign up </a>
  </div>
</header>
