<section class="section-features js--section-features" id="features">
  <div class="row">
    <div class="map-clear-up">
      <h2>Events</h2>
    </div>
      <div class="center-map">
        <iframe width="300" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=homeless%20shelters&key=AIzaSyCQfwSNkBFdyGB7hBaJEc-Oy4m84CN00dQ" allowfullscreen></iframe>
      </div>
      <div class="map-clear">
        <p class="long-copy">
            SEARCH is excited to be an official charity for the 2017-2018 Chevron Houston Marathon Run for a Reason Program. Run for a Reason offers alternative ways to enter the marathon and half marathon races through the “HEROES” charity entries, and “Fundraise for Registration” options.
        </p>
      </div>
  </div>
</section>

<section class="section-meals">
  <ul class="meals-showcase clearfix">
      <li>
          <figure class="meal-photo">
              <img src="resources/img/1.jpg" alt="Korean bibimbap with egg and vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="resources/img/2.jpg" alt="Simple italian pizza with cherry tomatoes">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="resources/img/3.jpg" alt="Chicken breast steak with vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="resources/img/4.jpg" alt="Autumn pumpkin soup">
          </figure>
      </li>
  </ul>
  <ul class="meals-showcase clearfix">
      <li>
          <figure class="meal-photo">
              <img src="resources/img/5.jpg" alt="Paleo beef steak with vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="resources/img/6.jpg" alt="Healthy baguette with egg and vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="resources/img/7.jpg" alt="Burger with cheddar and bacon">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="resources/img/8.jpg" alt="Granola with cherries and strawberries">
          </figure>
      </li>
  </ul>
</section>

<section class="section-steps" id="works">
  <div class="row">
      <h2>Profile</h2>
  </div>
  <div class="circle-center">
      <img class="pfp-size" src="img/pfp.png">
  </div>
  <div class="row">
      <br/>
      <h2>Level: <i>Neighborhood Hero<i></h2>
      <div class="circle-center">
        <h9>3 More Events Until Next Level</h9>
      </div>
  </div>
      </div>
  </div>
</section>

<section class="section-cities" id="cities">
  <div class="row">
      <h2>Social Feed</h2>
      <section class="feed">
          <div class="container" style="overflow: auto; height:450px;">
              <!--div class="controls">
                  <input type="field" value="#dolomiti" id="query" />
                  <input type="button" value="Update" />
              </div-->
              <div class="social-feed-container">
              </div>
          </div>
      </section>
  </div>
</section>
<!-- SECTION -->
<section class="section-testimonials">
    <div class="row">
        <h2>Feedback</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
                Amazing work! Keep it up. You're making an impact in your community.
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Amazing work! Keep it up. You're making an impact in your community.
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Amazing work! Keep it up. You're making an impact in your community.
            </blockquote>
        </div>
    </div>
</section>

<section class="section-plans js--section-plans" id="plans">
    <div class="row">
        <h2>Training programs </h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <div class="plan-box js--wp-4">
                <div>
                <h3>House of Tiny Treasures </h3>
                    <p class="plan-price"> <span> </span></p>
                    <p class="plan-price-meal"></p>
                </div>
                <div>
                    <ul>
                    <li> Nationally accredited preschool dedicated to serving children of families who are homeless.</li>
                        <li>With children going back to school, their parents can go back to work.</li>
                         <li></li><li> </li> <li></li><li></li> <li>                        </li>
                        <li>
                         </li>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="/login/google" class="btn btn-full">Sign up</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3> Engagement + Stabilization</h3>
                    <p class="plan-price"><span></span></p>
                    <p class="plan-price-meal"></p>
                </div>
                <div>
                    <ul>
                        <li> At SEARCH, we dream of a day when no one must sleep on the street, and we are working to make this dream a reality. </li>
                        <li>SEARCH's Outreach Teams travel throughout Houston providing on-the-spot assistance to people living on the streets.</li>
                        <li>

                        </li>
                        <li>

                        </li>

                    </ul>
                </div>
                <div>
                    <a href="/login/google" class="btn btn-full">Sign up</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Housing </h3>
                    <p class="plan-price"><span></span></p>
                    <p class="plan-price-meal">&nbsp;</p>
                </div>
                <div>
                    <ul>
                        <li> We place our clients in a home of their own and then provide ongoing support and guidance.
                        </li>
                        <li>Housing First- because the only way to cure homelessness is with a HOME</li>
                         <li>

                        </li>
                        <li>

                        </li>
                        <li></li>
                    </ul>
                </div>
                <div>
                    <a href="/login/google" class="btn btn-full">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-form">
    <div class="row">
        <h2>We're happy to hear from you</h2>
    </div>
    <div class="row">
        <form method="post" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Newsletter?</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="checkbox" name="news" id="news" checked> Yes, please
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Drop us a line</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="message" placeholder="Your message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Send it!">
                </div>
            </div>
        </form>
    </div>
</section>
